@media only screen and (min-width: 600px) {
    .navbar {
     height: 100%; 
    }
}

@media only screen and (max-width: 600px) {
    .row {
     width: 100%; 
    }
}
 .navbar-brand {
    font-family: 'Comforter', cursive;
    font-size:20px;
    text-shadow: 3px 3px 3px #ababab;

}
.navbar{
    font-family:"Trirong", serif;;
}
<!--carouselhomepage-->
.carousel-inner1{
	height: 100vh;
	background-size: cover;
	width: 100%;
}
/*homepagecarousel*/
.homebody {
   
    padding-bottom: 20px;
}
.homebody {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    height: 100%;
    overflow: hidden;
}
.container-fluid {
	padding: 0
}
h3{
    text-align: center;
    font-family: 'Comforter', cursive;
    font-size: 50px;
}
p{font-family: 'Comforter', cursive;
    font-family: 'Ephesis', cursive;
    font-family: 'Poiret One', sans-serif;
    font-family: "Trirong", serif;
    font-size: 20px;
    color: gray;
    text-align: center;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}
/*reservations styles*/

#output{
    text-align: center;
}
.custom-form-container {
    background-color:#F8F4EF;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .game {
    width: 100%;
    padding: 20px;
    background-color: #F8F4EF;
  }
  /*about styles*/
  .container-fluid1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0;
    width: 100%;
}

.guess{
    text-align: center;
}

textarea{
    width: 387px;
    height: 150px;
    border: 2px solid #ccc;
}

.row {
    flex: 1; /* Each row takes up equal space */
  }

#about {
    width: 100%;
    height: auto;
}

.enquiry-form {
    background-color: #F8F4EF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .opening-hours,
  .contact-info {
   background-color: #F8F4EF;
    margin-top: 20px;
  }
.button1,.button2,.button3{
    background-color: black;
    color: white;
    border: 12px white;
    margin: 5px;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
}
.button1:hover,.button2:hover,.button3:hover{
    background-color: #555555;
    color: white;
  }

.contact{
    text-align: left;
}

* {
    box-sizing: border-box;
  }
 
  /* Position the image container (needed to position the left and right arrows) */
  .container5 {
    position: relative;
  }
 
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
 
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
 
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
 
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
 
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
 
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
 
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color:#f8f8f8;
    padding: 2px 16px;
    color: white;
  }
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
 
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
 
  .active,
  .demo:hover {
    opacity: 1;
  }

